

body {
    background: var(--bg);
    color: var(--text);
    font-family: var(--font-main);

    padding: var(--padding);
    min-height: 100vh;
}

.container {
    margin: 0 auto;
    max-width: var(--maxw);
    width: 100%;
    transition: opacity 0.4s ease-out, transform 0.4s ease-out;
}

/* escondido */
body:not(.scrolled) .container {
    opacity: 0;
    transform: translateY(40px);
}

/* retorna */
body.scrolled .container {
    opacity: 1;
    transform: translateY(0);
}

header {
    margin-bottom: 32px;
}

h1 {
    font-size: clamp(1.6rem, 3.5vw, 2.5rem);
    font-weight: 600;
}

p.lead {
    color: var(--muted);
    margin-top: 8px;
    font-size: 1rem;
}

main {
    display: grid;
    gap: 16px;
    container-type: inline-size; /* ativa container query */
    container-name: content;
}

/* Comportamento quando o container tiver espaço suficiente */
@container content (min-width: 600px) {
    main {
        grid-template-columns: repeat(2, 1fr);
    }
}

@container content (min-width: 900px) {
    main {
        grid-template-columns: repeat(3, 1fr);
    }
}

.hero {
    height: 60vh; /* ocupa 60% da tela */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    position: relative;
    z-index: 2;

    pointer-events: none; /*sem ponteiro*/
}

.hero h1 {
    font-size: clamp(2.5rem, 6vw, 6rem);
    font-weight: 700;
    max-width: 900px;
    line-height: 1.1;
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.2s ease-out, transform 0.2s ease-out;
}

/*efeito fade ao rolar */
body.scrolled .hero h1{
    opacity: 0;
    transform: translateY(-20px);
}


a.btn {
    display: inline-block;
    padding: 10px 14px;
    border-radius: 8px;
    border: 1px solid #d1d5db;
    font-weight: 600;
}

a.btn:hover {
    background: color-mix(in srgb, var(--muted) 10%, transparent);
}

/* navbar */

/* a barra inteira fica fixa */
.navbar {
    width: 100%;
    background: #ffffff;
    padding: 12px 0;

    position: sticky;
    top: 0;
    z-index: 10;
}

/* conteúdo centralizado dentro da barra */
.navbar-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: var(--maxw);
    margin: 0 auto;

    border-bottom: 1px solid rgba(0,0,0,0.1); /* traço central */
    padding-bottom: 12px;
}

.navbar-left {
    display: flex;
    gap: 24px;
    align-items: center;
}

.navbar a {
    color: #111111;
    font-weight: 500;
    text-decoration: none;

    padding: 6px 4px;
    transition: opacity .2s ease;
}

.navbar a:hover {
    opacity: 0.6;
}

.navbar-logo {
    height: 28px;
    opacity: 0.9;
    user-select: none;
}



footer {
    margin-top: 40px;
    color: var(--muted);
    font-size: 0.9rem;
}

